<header class="stories-header">
  <div class="header-fill-overlay">
    <div class="container">
      <div class="row stories__header-row">
        <div class="col s12 center-align">
          <h2>Case Studies</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="stories">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="stories__card card">
            <div class="stories__card--content card-content">
              <span class="card-title">Passing a Bylaw</span>
              <span class="stories__card--date">April 16, 2016</span>
              <p>Read about how we helped a 300-unit condo pass a critical bylaw affecting their financial future.</p>
            </div>
            <div class="card-action stories__card--action">
              <a href="/stories/how-we-helped-a-300-unit-condo-pass-their-bylaw">Read the Case Study</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="stories__card card">
            <div class="stories__card--content card-content">
              <span class="card-title">Reaching Quorum</span>
              <span class="stories__card--date">November 5, 2015</span>
              <p>We helped this condo reach quorum days before their AGM was even held.</p>
            </div>
            <div class="card-action stories__card--action">
              <a href="/stories/electronic-condo-proxies">Read the Case Study</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>
