<header class="stories-header">
  <div class="header-fill-overlay">
    <div class="container">
      <div class="row stories__header-row">
        <div class="col s12 center-align">
          <h2>Stories and Case Studies</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="stories">
    <div class="container">
      <div class="row">

        <%- partial('_storiesCard', {
          title: "Passing a Bylaw With The GetQuorum Platform",
          date: "April 16, 2016",
          url: "/stories/passing-a-bylaw-with-getquorum",
          text: "Read about how we helped a 300-unit condo pass a critical bylaw affecting their financial future."
        }); %>

        <%- partial('_storiesCard', {
          title: "Reaching Quorum With Electronic Proxies",
          date: "December 2, 2015",
          url: "/stories/electronic-condo-proxies",
          text: "We helped this condo reach quorum days before their AGM was even held."
        }); %>

      </div>
    </div>
  </section>

</main>
