<header class="stories-header">
  <div class="header-fill-overlay">
    <div class="container">
      <div class="row stories__header-row">
        <div class="col s12 center-align">
          <h2>Stories and Case Studies</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="stories">
    <div class="container">
      <div class="row">

        <%- partial('_storiesCard', {
          title: "Passing a Bylaw With The GetQuorum Platform",
          date: "April 16, 2016",
          url: "",
          text: "Read about how we helped a 300-unit condo in Toronto pass a critical bylaw affecting their financial future.",
          image: "https://d1v53h6w11vaa4.cloudfront.net/stories/bylaw_building_medium_1.jpg"
        }); %>

        <%- partial('_storiesCard', {
          title: "Reaching Quorum With Electronic Proxies",
          date: "December 2, 2015",
          url: "/stories/electronic-condo-proxies",
          text: "Portland Park Village, a 200-unit condo in Toronto, reached quorum using our electronic proxies days before their AGM was even held.",
          image: "https://d1v53h6w11vaa4.cloudfront.net/stories/ppv_medium.jpg"
        }); %>

      </div>
    </div>
  </section>

</main>
