<header class="contact__header">
  <div class="header-fill-overlay">
    <div class="container">
      <div class="row contact__header-row">
        <div class="col s12 center-align">
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="contact_main">
  <section class="contact__section">
    <div class="container">
      <div class="row">
        <!-- Form Block -->
        <div class="col s12 m6">
          <div class="row">
            <form class="col s12 contact__form">
              <h3>Send us a message</h3>
              <p>Got a comment or question for the GetQuorum team? Let us know.</p>
              <br>
              <div class="row">
                <div class="input-field col s12 name__input-field">
                  <input id="name" type="text" class="validate" placeholder="Ralph Wiggum">
                  <label for="name">Your Name</label>
                  <span class='error'>Please enter your name</span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 email__input-field">
                  <input id="email" type="email" class="validate" placeholder="rwiggum@example.com">
                  <label for="email">Your Email Address</label>
                  <span class='error'>Please enter a valid email</span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 message__input-field">
                  <textarea id="message" class="materialize-textarea" length="2000" maxlength="2000" placeholder="Start typing here..."></textarea>
                  <label for="message">Your Message</label>
                  <span class='error'>Please enter a message</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12 flex contact__form--buttons">
                  <button class="btn btn-large waves-effect waves-light accent-color contact__form--button" id="send-message">Send Message</button>
                  <span class="contact__form--spinner hide"><%- partial('_shared_partials/spinner') %></span>
                  <span class="contact__form--spinner-text hide">Sending...</span>
                </div>
              </div>
              <div class="row contact__form--message-row">
                <div class="col s12">
                  <span class="response-message"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End Form Block -->

        <div class="col s12 offset-m1 m5">
          <h3>Email us</h3>
          <p>
            <a href="mailto:contact@getquorum.com">contact@getquorum.com</a><br>
          </p>
          <p>&nbsp;</p>
          <h3>Find us</h3>
          <p>
            550 Front St. W, Unit 614<br>
            Toronto, Ontario<br>
            M5V 3N5<br>
          </p>
        </div>

      </div>
    </div>
  </section>

</main>

<script src="/assets/components/validator-js/validator.min.js"></script>
<script src="/assets/js/contact.js"></script>
