<li><a href="<%- demo_url%>">Try the Demo</a></li>
<li><a href="/#estimate">Get a Quote</a></li>
<li><a href="/stories">Stories</a></li>
<li><a href="/#faq">FAQ</a></li>
<li><a href="/contact">Contact</a></li>
