<div class="col s12 m4 center-align benefit">
  <span class="fa-stack <%= size %> benefit__icon">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa <%= icon %> fa-stack-1x fa-inverse"></i>
  </span>
  <span class="benefit__heading"><%= heading %></span>
  <span class="benefit__description"><%- description%></span>
</div>
