<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5><a href="/" class="brand-logo"><%- partial('logo.ejs', {}) %></a></h5>
        <p class="grey-text text-lighten-4 headline"><%- headline %></p>
        <div class="grey-text text-lighten-4 footer__email">
          <span><i class="fa fa-envelope"></i></span>
          <a class="grey-text text-lighten-4" href="mailto:contact@getquorum.com">
            contact@getquorum.com
          </a>
        </div>
        <div class="grey-text text-lighten-4 footer__phone">
          <!-- <span><i class="fa fa-phone"></i></span> -->
        </div>
        <div class="grey-text text-lighten-4 footer__twitter">
          <span><i class="fa fa-twitter"></i></span>
          <a id="footer-twitter" class="grey-text text-lighten-4" target="_blank" href="https://twitter.com/getquorumapp">
            @getquorumapp
          </a>
        </div>
        <div class="grey-text text-lighten-4 footer__linkedin">
          <span><i class="fa fa-linkedin"></i></span>
          <a id="footer-linkedin" class="grey-text text-lighten-4" target="_blank" href="https://www.linkedin.com/company/10611652">
            &nbsp;GetQuorum
          </a>
        </div>
        <br><br>
      </div>
      <div class="col l4 s12 white-text footer-links">
        <h5 class="white-text">Links</h5>
        <ul>
          <%- partial('_navItems') %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s6 left-align pkl">
          <span class="grey-text text-lighten-3">&copy; 2016 <a href="https://powderkeglabs.com">PowderKeg Labs, Inc.</a></span>
        </div>
        <div class="col s6 right-align pkl">
          <span class="grey-text text-lighten-3"><a href="/terms-of-use.html">Terms</a></span>
          &nbsp;|&nbsp;
          <span class="grey-text text-lighten-3"><a href="/privacy.html">Privacy</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
