<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">
          Fall back together everybody loves pretty trains operation hummingbird crossword. Burnt toast this sick beat pictures in frames of. Kisses on cheeks Max Martin.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-darken-1" href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span class="grey-text">&copy; 2015 <%= site_name%></span>
      <span class="grey-text">By PowderKeg Labs</span>
    </div>
  </div>
</footer>
