<div class="flex flex-item badge-flex center-align icon-text-block">
  <span class="fa-stack <%= size %>">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa <%= icon %> fa-stack-1x fa-inverse"></i>
  </span>
  <h3 class="heading"><%= heading %></h3>
  <span class="description"><%- description%></span>
</div>
