<%# <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-group fa-stack-1x fa-inverse"></i>
</span>%>
<span><i class="fa fa-group fa-lg"></i></span>
<span class="full"><%= site_name %></span>
