<nav role="naviation">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><%- partial('logo.ejs', {}) %></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <%- partial('_navItems') %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="side-nav__brand-logo flex flex-row">
        <a href="/"><i class="fa fa-4x fa-users"></i></a>
      </li>
      <%- partial('_navItems') %>
    </ul>
  </div>
</nav>
