<nav class="grey darken-2" role="naviation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">
      <i class="material-icons large">people</i>
      <span class="full"><%= site_name %></span>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">About</a></li>
      <li><a href="#">Case Studies</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
