<nav role="naviation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">
      <%- partial('logo.ejs', {}) %>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="stories.html">Stories</a></li>
      <li><a href="/#how-it-works">How It Works</a></li>
      <li><a href="/#faq">FAQ</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </div>
</nav>
