<section class="estimate grey lighten-3" id="estimate">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>Get a Quote</h2>
        <p>Let us know what you need and we'll get back to you right away.</p>
      </div>
    </div>
    <div class="row">
      <form class="col offset-m2 s12 m8 estimate__form">
        <div class="row">
          <div class="input-field quote__input-field--email col s12">
            <input type="email" placeholder="john.smith@example.com" id="quote-email">
            <label for="quote-email">Your Email Address</label>
            <span class='error'>Please enter a valid email</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field input-field__select quote__input-field--units col s12">
            <label class="active" for="quote-units">Number of Units In Your Condo</label>
            <select id="quote-units" class="browser-default">
              <option value="" disabled selected>Choose an answer</option>
              <option value="1 - 100">1 to 100 units</option>
              <option value="101 - 500">101 to 500 units</option>
              <option value="501+">501 units or more</option>
            </select>
            <span class='error'>Please tell us how many units you have in your condo</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button id="send-quote" class="btn btn-large accent-color">Get My Quote</button>
          </div>
        </div>
        <div class="row estimate__form--message-row form--message-row">
          <div class="col s12">
            <span class="response-message"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="/assets/components/validator-js/validator.min.js"></script>
<script src="/assets/js/quote.js"></script>
