<section class="estimate" id="estimate">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>Get a Quote</h2>
        <p>We'll email you a quote within 24 hours.</p>
      </div>
    </div>
    <div class="row">
      <form class="col s12 estimate__form">
        <div class="row">
          <div class="input-field col s12 m5 l6">
            <input type="email" placeholder="john.smith@example.com" id="quote-email">
            <label for="quote-email">Your Email Address</label>
          </div>
          <div class="input-field col s12 m3 l3">
            <label class="active" for="quote-units"># of Units In Your Condo</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose one</option>
              <option value="1 - 100">1 - 100</option>
              <option value="101 - 300">101 - 300</option>
              <option value="300+">300+</option>
            </select>
          </div>
          <div class="input-field col s12 m4 l3">
            <button class="btn waves-effect waves-light accent-color">Get a Quote</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
