<section id="benefits" class="benefits">
  <div class="container">
    <div class="row flex">

      <div class="benefit flex flex-item center-align">
        <div style="width: 150px; height: 150px; border-radius: 50%; background-color: gray"></div>
        <h3>Fast and Easy</h3>
        <p>Owners take about two minutes on average to complete the form. Yup, we've timed it. Our online forms are easy to use, even for the "less techie" of people.</p>
      </div>

      <div class="benefit flex flex-item center-align">
        <div style="width: 150px; height: 150px; border-radius: 50%; background-color: gray"></div>
        <h3>Say goodbye to canvasing</h3>
        <p>Automatic recurring emails are sent periodically to encourage owners to complete their proxy. Our smart email system targets only those that haven't filled out the form yet. No more canvasing, spend your time relaxing.</p>
      </div>

      <div class="benefit flex flex-item center-align">
        <div style="width: 150px; height: 150px; border-radius: 50%; background-color: gray"></div>
        <h3>Track your proxies</h3>
        <p>Completed proxies are sent to your property manager instantly for immediate registration. Keep track of your quorum numbers in real-time so you know where you stand.</p>
      </div>

    </div>
  </div>
</section>
