<section id="benefits" class="benefits">
  <div class="container">
    <div class="row flex">

      <div class="benefit flex flex-item center-align">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Fast and Simple</h3>
        <p>Our online forms are super easy to use, even for the "less techie" of people. It takes about two minutes on average to complete the form. Yup, we've timed it. Don't take our word for it, <a href="#">try the demo yourself</a>.</p>
      </div>

      <div class="benefit flex flex-item center-align">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-at fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Easy Distribution and Reminders</h3>
        <p>Say goodbye to canvasing. Just tell us who to send it to and we'll email the proxy to your owners. We'll periodically remind owners to complete their proxy, but only if they haven't already done so.</p>
      </div>

      <div class="benefit flex flex-item center-align">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Real-time Tabulation</h3>
        <p>Imagine knowing you've reached quorum days or weeks before your meeting even starts. View your proxy numbers in real-time, and we'll notify you the second you reach quorum.</p>
      </div>

    </div>
  </div>
</section>
