<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>FAQ</h2>
      </div>
    </div>
    <div class="row">

      <div class="col s12 m6">
        <h4>A nightmare dressed like a. Daydream places I'd never been this?</h4>
        <p>
          Sick beat plaid shirt days long list. Of ex-lovers thanks for sticking with me. For so long passport sin scottish fold queen we. Are never getting back together. Passport darling I'm a nightmare
        </p>
      </div>

      <div class="col s12 m6">
        <h4>A nightmare dressed like a. Daydream places I'd never been this?</h4>
        <p>
          Sick beat plaid shirt days long list. Of ex-lovers thanks for sticking with me. For so long passport sin scottish fold queen we. Are never getting back together. Passport darling I'm a nightmare
        </p>
      </div>

    </div>
  </div>
</section>
