<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>FAQ</h2>
      </div>
    </div>
    <div class="row">

      <div class="col s12 m6">
        <h4>How do you prevent proxy fraud?</h4>
        <p>
          After an owner completes the electronic proxy form, a message with a confirmation link is sent to the email address registered to the owner. The owner must click on the link in order to finalize the proxy form. This verification step ensures that the proxy is valid.
        </p>
      </div>
      
      <div class="col s12 m6">
        <h4>Is this really legal?</h4>
        <p>
          Yes! We have obtained legal opinions from a number of top Condominium Law Firms in Toronto. Our electronic proxies comply with Subsection 51 and 52 of the Condominium Act, 1998. In fact, these law firms have agreed that our electronic proxies do a better job of preventing fraud than traditional paper proxies.
        </p>
      </div>

      <div class="col s12 m6">
        <h4>How much does this cost?</h4>
        <p>
          We're currently in a short private beta and are actively looking for more condos to test this solution in. There's no charge for trial condos, so if your corporation is interested in participating, please sign up below.
        </p>
      </div>

    </div>
  </div>
</section>
