<section id="testimonials">
  <div class="container">
    <div class="row flex">

      <div class="benefit flex flex-item center-align">
        <div style="width: 150px; height: 150px; border-radius: 50%; background-color: gray"></div>
        <p>Rain handsome as hell a boatload flood. Crossword four blue eyes fearless cozy darling I'm</p>
        <p>Firstname Lastname</p>
        <p>President of MTCC 1371</p>
        <p><a href="#" class="btn waves-effect waves-light">Read the Case Study</a></p>
      </div>


    </div>
  </div>
</section>
