<header class="contact__header">
  <div class="header-fill-overlay">
    <div class="container">
      <div class="row contact__header-row">
        <div class="col s12 center-align">
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="contact_main">
  <section class="contact__section">
    <div class="container">
      <div class="row">
        <!-- Form Block -->
        <div class="col s12 m6">
          <div class="row">
            <form class="col s12">
              <h3>Send us a message</h3>
              <p>Got a comment or question for the GetQuorum team? Let us know.</p>
              <br>
              <div class="row">
                <div class="input-field col s12">
                  <input id="name" type="text" class="validate" placeholder="Ralph Wiggum">
                  <label for="name">Your Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" placeholder="rwiggum@example.com">
                  <label for="email">Your Email Address</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="message" class="materialize-textarea" length="2000" maxlength="2000" placeholder="Start typing here..."></textarea>
                  <label for="message">Your Message</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <button class="btn btn-large waves-effect waves-light accent-color">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End Form Block -->

        <div class="col s12 offset-m1 m5">
          <h3>Call or email us</h3>
          <p>
            <a href="mailto:contact@getquorum.com">contact@getquorum.com</a><br>
            1 (416) 939-2088
          </p>
          <p>&nbsp;</p>
          <h3>Find us</h3>
          <p>
            550 Front St. W, Unit 614<br>
            Toronto, Ontario<br>
            M5V 3N5<br>
          </p>
        </div>

      </div>
    </div>
  </section>

</main>

<script>
// (function() {
//   $('input#message').characterCounter();
// })();
</script>
