<header class="index-header">
  <div class="flex">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="uvp">Never Miss Quorum</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="lead-in">
            Simple, secure, and legally valid Electronic Proxy Forms for condo meetings. Let your owners quickly fill out their proxies online.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a href="#" class="btn-large waves-effect waves-light">Try the Demo</a>
          <a href="#" class="btn-large waves-effect waves-light">Contact Us</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <img class="responsive-img" src="/assets/images/hero.png" />
        </div>
      </div>
    </div>
  </div>
</header>
<main>

  <section id="how-it-works">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <h2>How It Works</h2>
          <p>Owners fill out an sign their proxies online, sign it, and confirm. You instantly get a copy to register for your meeting.  It takes two minutes to do.</p>
          <img src="/assets/images/proxies/quorum_email.jpg" class="responsive-img" />
          <p><a href="#" class="btn waves-effect waves-light">Try it Yourself</a><p>
        </div>
      </div>
    </div>
  </section>

  <%- partial('_benefits', {}) %>

  <%- partial('_faq', {}) %>

  <%- partial('_testimonials', {}) %>

  <%- partial('_contact', {}) %>

</main>
