<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="uvp">Never Miss Quorum</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="lead-in">
            Simple, secure and legally valid electronic proxy forms for your condominium's owner meetings. Getting quorum just got a whole lot easier.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a href="#" class="btn-large waves-effect waves-light accent-color">Try the Demo</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <img class="responsive-img" src="/assets/images/hero.png" />
        </div>
      </div>
    </div>
  </div>
</header>
<main>

  <section id="how-it-works">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <h3>How It Works</h3>
          <p>We'll create an electronic version of your proxy and make it accessible online. We'll then notify your owners of the URL link by email. It's super easy to use; there are no apps to download; and any web browser will do.</p>

          <p>See it in action...</p>

          <img src="/assets/images/quorum.gif" class="responsive-img" />

          <p>Better yet, try it yourself</p>
          <p><a href="#" class="btn-large waves-effect waves-light accent-color">Go to Demo</a><p>

        </div>
      </div>
    </div>
  </section>

  <%- partial('_benefits', {}) %>

  <%- partial('_faq', {}) %>

  <%- partial('_testimonials', {}) %>

  <%- partial('_contact', {}) %>

</main>
