<header class="faq-header">
  <div class="header-fill-overlay">
    <div class="container">
      <div class="row faq__header-row">
        <div class="col s12 center-align">
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<main>

  <!-- FAQ -->
  <section class="faq" id="faq">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <span class="question">1. Are our e-proxies compliant with the Ontario Condo Act?</span>
          <p class="answer">
            Yes! We have obtained a paid legal opinion from Miller Thomson LLP, a top
            Condominium Law Firm in Toronto. Our electronic proxies comply with
            Subsection 51 and 52 of the Ontario Condominium Act, 1998.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span class="question">2. How do we handle proxy fraud?</span>
          <p class="answer">
            We take a number of measures to screen for fraud including
            providing each owner with a unique access code, IP address tracking, and other
            methods.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span class="question">3. How do <i>you</i> get the completed proxies?</span>
          <p class="answer">We provide a dashboard for you to track and download completed proxies in real-time. Proxies are also emailed to your property manager the instant an owner completes it. </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span class="question">4. How long does it take to setup?</span>
          <p class="answer">
            Typically within 5 business days. However, to maximize the effectiveness of the engagement campaign, we recommend contacting us at least 30 days prior to the meeting date.
          </p>
        </div>
      </div>
    </div>
  </section>


</main>
