<section id="contact" class="contact" ng-app="quorumApp" ng-controller="requestController">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Sign Up</h2>
        <p>We're currently in beta and are working with select condos to trial the solution. If you're interested in participating, please fill out your contact info and we'll get back to you in 24 hours.</p>
      </div>
    </div>
    <form name="requestForm" ng-submit="submitRequest(requestForm.$valid)" novalidate>
      <div class="row">
        <div class="input-field col s12 m6" ng-class="{ 'has-error': requestForm.name.$invalid && msgStatus.submitted && !msgStatus.success }">
          <label>Your Name:</label>
          <input type="text" name="name" id="name" required placeholder="Frank Grimes" ng-model="request.name" ng-class="{ 'invalid': requestForm.name.$invalid && msgStatus.submitted && !msgStatus.success }"></input>
          <span class="error-text" ng-show="requestForm.name.$invalid && msgStatus.submitted && !msgStatus.success">Name is required.</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6" ng-class="{ 'has-error': requestForm.email.$invalid && msgStatus.submitted && !msgStatus.success }">
          <label>Your Email:</label>
          <input type="email" name="email" required placeholder="frank.grimes@emample.com" ng-model="request.email" ng-class="{ 'invalid': requestForm.email.$invalid && msgStatus.submitted && !msgStatus.success }"></input>
          <span class="error-text" ng-show="requestForm.email.$invalid && msgStatus.submitted && !msgStatus.success">Email is required.</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <label>Your Phone Number (optional):</label>
          <input type="text" name="phone" ng-model="request.phone" placeholder="416-123-4567"></input>
        </div>
      </div>
      <div class="row">
        <div class="col s12 spinner-block">
          <input type="submit" value="submit" class="btn accent-secondary-color"></input>
          &nbsp;&nbsp;&nbsp;
          <!-- Spinner -->
          <div ng-show="showSpinner" ng-cloak class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>

        </div>
      </div>
      <div class="row message-row" ng-show="msgStatus.submitted">
        <!-- Error Message -->
        <div class="col s12 msg-block error-block" ng-cloak ng-show="msgStatus.submitted && msgStatus.errors">
          <span><b>Message Not Sent:</b></span>
          <span ng-bind="msgStatus.message"><span>
        </div>
        <!-- Success Message -->
        <div class="col s12 msg-block success-block" ng-cloak ng-show="msgStatus.submitted && msgStatus.success">
          <span><b>Success:</b> Your message has been sent.<span>
        </div>
      </div>
    </form>
  </div>
</section>
