<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Sign Up</h2>
        <p>We're currently in beta and are working with select condos to trial the solution. If you're interested in participating, please fill out your contact info and we'll get back to you in 24 hours.</p>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="input-field col s12 m8">
          <label>Your Name:</label>
          <input type="text" name="name" id="name" required="true" placeholder="Frank Grimes"></input>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8">
          <label>Your Email:</label>
          <input type="email" name="email" required="true" placeholder="frank.grimes@emample.com"></input>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8">
          <label>Your Phone Number:</label>
          <input type="text" name="phone" required="true" placeholder="416-123-4567"></input>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="submit" value="submit" class="btn-large accent-color"></input>
        </div>
      </div>
    </form>
  </div>
</section>
