<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>FAQ</h2>
      </div>
    </div>
    <div class="row">

      <div class="col s12 m6">
        <h4>How do you prevent proxy fraud?</h4>
        <p>
          After an owner completes the electronic proxy form, a message with a confirmation link is sent to the email address registered to the owner. The owner must click on the link in order to finalize the proxy form. This verification step ensures that the proxy is valid.
        </p>
      </div>

      <div class="col s12 m6">
        <h4>Is this really legal?</h4>
        <p>
          Yes! We have obtained legal opinions from a number of top Condominium Law Firms in Toronto. Our electronic proxies comply with Subsection 51 and 52 of the Condominium Act, 1998. In fact, these law firms have agreed that our electronic proxies do a better job of preventing fraud than traditional paper proxies.
        </p>
      </div>

      <div class="col s12 m6">
        <h4>How much does this cost?</h4>
        <p>
          There's no charge while we're in private beta. We are actively looking for more condos to participate in the trial, so sign up below if you're interested.
        </p>
      </div>

      <div class="col s12 m6">
        <h4>How do we get the completed proxies?</h4>
        <p>Proxies are emailed to your property manager the instant they're completed by the owner. We can also send you a secure link to download all submitted proxies.</p>
      </div>

    </div>
  </div>
</section>
