<section class="faq" id="faq">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>FAQ</h2>
      </div>
    </div>
    <div class="flex row">

      <div class="flex-item faq-item">
        <span class="question">1. Is this really legal?</span>
        <p class="answer">
          Yes! We have obtained legal opinions from a number of top
          Condominium Law Firms in Toronto. Our electronic proxies comply with
          Subsection 51 and 52 of the Condominium Act, 1998. In fact, these
          law firms have agreed that our electronic proxies do a better job of
          preventing fraud than traditional paper proxies.
        </p>
      </div>

      <div class="flex-item faq-item">
        <span class="question">2. How is it better at preventing fraud?</span>
        <p class="answer">
          After an owner completes the electronic proxy form, a message with a
          confirmation link is sent to the email address registered to the
          owner. The owner must click on the link in order to finalize the
          proxy form. This verification step ensures that the proxy is valid.
        </p>
      </div>

      <div class="flex-item faq-item">
        <span class="question">3. How do we get the completed proxies?</span>
        <p class="answer">Proxies are emailed to your property manager the instant they're
          completed by the owner. We can also send you a secure link to
          download all submitted proxies.</p>
      </div>

      <div class="flex-item faq-item">
        <span class="question">4. How much does this cost?</span>
        <p class="answer">
          There's no charge while we're in our private beta. We are actively
          looking for more condos to participate in the trial, so sign up below
          if you're interested.
        </p>
      </div>

    </div>
  </div>
</section>
