<section class="how-it-works" id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>How It Works</h2>
      </div>
    </div>
    <div class="row flex how-row">

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-cloud-upload',
        size: 'fa-3x',
        heading: 'Upload your Proxy',
        description: "It'll get converted to an easy-to-use electronic version accessible through a website URL."
      }); %>

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-share',
        size: 'fa-3x',
        heading: 'Distribute It',
        description: "We email the electronic proxy URL to your owners. You can also distribute the URL using your own means."
      }); %>

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-laptop',
        size: 'fa-3x',
        heading: 'Fill It Out',
        description: "Owners complete the proxy using their phone, tablet, or computer. There are no apps to download, just use a web browser."
      }); %>

    </div>
  </div>
</section>
