<section class="how-it-works" id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>How It Works</h2>
      </div>
    </div>
    <div class="row flex how-row">

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-comments',
        size: 'fa-3x',
        heading: 'Contact Us',
        description: "A quick chat or email is all it takes, we just need some details about your upcoming meeting."
      }); %>

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-laptop',
        size: 'fa-3x',
        heading: "Online Proxy",
        description: "In a few days your electronic proxy will be available to owners through a custom website URL."
      }); %>

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-share',
        size: 'fa-3x',
        heading: "Distribution",
        description: "Our system will email the URL to your owners, you can also choose to distribute it through your own means."
      }); %>

    </div>
  </div>
</section>
