<section class="how-it-works" id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>How It Works</h2>
      </div>
    </div>
    <div class="row flex how-row">

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-file-text',
        size: 'fa-3x',
        heading: 'Send Us a Copy',
        description: "Send us a copy of your paper proxy and we'll chat quickly about the details of your upcoming meeting."
      }); %>

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-laptop',
        size: 'fa-3x',
        heading: "It Goes Electronic",
        description: "In just a few days, your electronic proxy will be available to owners through a custom website URL."
      }); %>

      <%- partial('../_shared_partials/icon-text-block', {
        icon: 'fa-share',
        size: 'fa-3x',
        heading: "It Gets Distributed",
        description: "We'll email the electronic proxy URL to your owners, and you can also choose to distribute it on your own."
      }); %>

    </div>
  </div>
</section>
