<section class="screens">
  <div class="container">
    <div class="row flex">
      <div class="flex-text flex-row-left left-align">
        <h2>It's fast and super easy to use...</h2>
        <p>Even for the "less techie" of people. It takes about two minutes on average to complete the form. Yup, we've timed it. Don't take our word for it, see it in action.</p>
      </div>
      <div class="flex-img flex-row-right right-align">
        <img src="/assets/images/quorum3.gif" class="responsive-img gif-img" />
      </div>
    </div>
  </div>
</section>

<section class="screens">
  <div class="container">
    <div class="row flex">
      <div class="flex-text flex-row-right">
        <h2>Say goodbye to canvasing</h2>
        <p>Our smart email system will periodically remind owners to complete their proxy, but only if they haven't already done so. You don't want to canvas; owners don't want to be disturbed. Now everyone can enjoy their Netflix in peace. </p>
      </div>
      <div class="flex-img flex-row-left">
        <img src="/assets/images/quorum-email.png" class="responsive-img screens-img" />
      </div>
    </div>
  </div>
</section>

<section class="screens">
  <div class="container">
    <div class="row flex">
      <div class="flex-text flex-row-left">
        <h2>Real-time Tabulation</h2>
        <p>You get the proxies the instant owners complete it. Just imagine what it's like to know you've reached quorum days or weeks before your meeting even starts. We'll even notify you the second you've reached quorum.</p>
      </div>
      <div class="flex-img flex-row-right">
        <img src="/assets/images/tabulate.png" class="responsive-img screens-img" />
      </div>
    </div>
  </div>
</section>
