<section id="testimonials">
  <div class="container">
    <div class="row flex">

      <div class="benefit flex flex-item center-align">
        <img class="person-img" src="/assets/images/team/ben.jpg" />
        <p><i>"We went from barely making quorum at last year's AGM to easily making it this year. The electronic proxies were enough for quorum alone. Besides the money saved from not having to reschedule a meeting, the best part was that we didn't have to do any canvasing. We're definitely using this for future meetings."</i></p>
        <p>Ed Bezeau, President of MTCC 1371</p>
        <p><a href="#">Read the Case Study</a></p>
      </div>


    </div>
  </div>
</section>
