<section id="testimonials">
  <div class="container">
    <div class="row flex">

      <div class="testimonial flex flex-item badge-flex center-align">
        <img class="person-img" src="/assets/images/team/ben.jpg" />
        <span class="person-name">Wilmer Gomez, RCM</span>
        <p class="person-quote">"In my six years as a condo manager, this is the first time I’ve ever seen an AGM reach quorum before it was even held. We started getting proxies as soon as owners were notified. It was such a quick and easy process, all I needed to do was print out the completed proxies."</p>
      </div>

    </div>

    <div class="row">
      <div class="col s12 center-align">
        <span class="secondary-button">
          <a href="<%= case_study_url %>" class="btn accent-secondary-color" target="_blank">Read the Case Study</a>
        </span>
      </div>
    </div>

  </div>
</section>
