<header class="demos-header">
  <div class="header-fill-overlay">
    <div class="container">
      <div class="row demos__header-row">
        <div class="col s12 center-align">
          <h2>GetQuorum Proxy Demos</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<main>

  <section class="demos__demo-section">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6">
          <h2>It's quick and super easy...</h2>
          <p>Our Electronic Proxy tool guides owners through the process. It's simple to use even for the less "techie" of people.</p>
          <p>All that's needed is a device with an internet connection and a modern web browser. There's no app to download or install.</p>
          <p>Try it yourself, it'll open in a new window</p>
          <p><a id="demo-btn-1" href="https://demo.getquorum.com" target="_blank" class="btn btn-large btn-secondary">Open the Demo</a></p>
          <br>
        </div>
        <div class="col s12 m6 center-align">
          <img src="https://d1v53h6w11vaa4.cloudfront.net/demos/gq_bylaw_small_framed.png" class="responsive-img demos__demo-img" />
          <span class="demos__image-caption">Works on Mobile Devices</span>
        </div>
      </div>
    </div>
  </section>

  <section class="demos__demo-section">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6 push-m6">
          <h2>Customized For Your Meeting</h2>
          <p>Our proxies can handle all types of meetings:
            <ul class="demos__content-list">
              <li clas="browser-default">General Elections</li>
              <li>Owner Occupied Elections</li>
              <li>Bylaw votes</li>
              <li>Special Meetings</li>
              <li>and more...</li>
            </ul>
          </p>
          <p><a id="demo-btn-2" href="https://demo.getquorum.com" target="_blank" class="btn btn-large btn-secondary">Open the Demo</a></p>
        </div>
        <div class="col s12 m6 pull-m6 center-align">
          <img src="https://d1v53h6w11vaa4.cloudfront.net/demo.jpg" class="responsive-img demos__demo-img demos__demo-img--bordered" />
          <span class="demos__image-caption">Owner-Occupied Election</span>
        </div>
      </div>
    </div>
  </section>

</main>
