<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="google-site-verification" content="n-AbeiAYgU08sC5C9fnMLSbP3TONuQ6Nde8I5b9epNw" />
    <meta name="description" content="Significantly increase owner representation at your condo meetings with our electronic proxy, online voting, and owner engagement platform.">
    <meta name="author" content="PKL">

    <meta property="og:title" content="GetQuorum: Electronic Proxies for Condo Meetings" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="https://d1v53h6w11vaa4.cloudfront.net/toronto1.jpg" />
    <meta property="og:description" content="Significantly increase owner representation at your condo meetings with our electronic proxy, online voting, and owner engagement platform." />
    <meta property="og:site_name" content="GetQuorum" />

    <title>GetQuorum: Electronic Proxies for Condo Meetings</title>
    <link rel="canonical" href="" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    
      <script type="text/javascript">
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
        analytics.load("OBecwafxHQIKn1gH96ao4lqDYfoYLxTl");
        analytics.page()
        }}();
      </script>
    
  </head>

  <body>

    <nav role="naviation">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><span class="full">GetQuorum</span>
</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/#estimate">Get a Quote</a></li>
<li><a href="/demos">Try a Demo</a></li>
<li><a href="/stories">Stories</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="/contact">Contact</a></li>

    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="side-nav__brand-logo flex flex-row">
        <a href="/"><i class="fa fa-4x fa-users"></i></a>
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/#estimate">Get a Quote</a></li>
<li><a href="/demos">Try a Demo</a></li>
<li><a href="/stories">Stories</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="/contact">Contact</a></li>

    </ul>
  </div>
</nav>


    
      <h4>5.2.0</h4><ul>
<li>Added a <code>isDataURI()</code> validator
(<a href="https://github.com/chriso/validator.js/pull/521">#521</a>)</li>
<li>Added Czech locales
(<a href="https://github.com/chriso/validator.js/pull/522">#522</a>)</li>
<li>Fixed a bug with <code>isURL()</code> when protocol was missing and &quot;://&quot; appeared in the query
(<a href="https://github.com/chriso/validator.js/issues/518">#518</a>)</li>
</ul>
<h4>5.1.0</h4><ul>
<li>Added a <code>unescape()</code> HTML function
(<a href="https://github.com/chriso/validator.js/pull/509">#509</a>)</li>
<li>Added a Malaysian locale to <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/507">#507</a>)</li>
<li>Added Polish locales to <code>isAlpha()</code> and <code>isAlphanumeric()</code>
(<a href="https://github.com/chriso/validator.js/pull/506">#506</a>)</li>
<li>Added Turkish locales to <code>isAlpha()</code>, <code>isAlphanumeric()</code> and <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/512">#512</a>)</li>
<li>Allow &gt;1 underscore in hostnames when using <code>allow_underscores</code>
(<a href="https://github.com/chriso/validator.js/issues/510">#510</a>)</li>
</ul>
<h4>5.0.0</h4><ul>
<li>Migrate to ES6
(<a href="https://github.com/chriso/validator.js/pull/496">#496</a>)</li>
<li>Break the library up so that individual functions can be imported
(<a href="https://github.com/chriso/validator.js/pull/496">#496</a>)</li>
<li>Remove auto-coercion of input to a string
(<a href="https://github.com/chriso/validator.js/pull/496">#496</a>)</li>
<li>Remove the <code>extend()</code> function
(<a href="https://github.com/chriso/validator.js/pull/496">#496</a>)</li>
<li>Added Arabic locales to <code>isAlpha()</code> and <code>isAlphanumeric()</code>
(<a href="https://github.com/chriso/validator.js/pull/496#issuecomment-184781730">#496</a>)</li>
<li>Fix validation of very large base64 strings
(<a href="https://github.com/chriso/validator.js/pull/503">#503</a>)</li>
</ul>
<h4>4.9.0</h4><ul>
<li>Added a Russian locale to <code>isAlpha()</code> and <code>isAlphanumeric()</code>
(<a href="https://github.com/chriso/validator.js/pull/499">#499</a>)</li>
<li>Remove the restriction on adjacent hyphens in hostnames
(<a href="https://github.com/chriso/validator.js/issues/500">#500</a>)</li>
</ul>
<h4>4.8.0</h4><ul>
<li>Added Spanish, French, Portuguese and Dutch support for <code>isAlpha()</code> and <code>isAlphanumeric()</code>
(<a href="https://github.com/chriso/validator.js/pull/492">#492</a>)</li>
<li>Added a Brazilian locale to <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/489">#489</a>)</li>
<li>Reject IPv4 addresses with invalid zero padding
(<a href="https://github.com/chriso/validator.js/pull/490">#490</a>)</li>
<li>Fix the client-side version when used with RequireJS
(<a href="https://github.com/chriso/validator.js/issues/494">#494</a>)</li>
</ul>
<h4>4.7.1</h4><ul>
<li>Use <a href="https://github.com/dougwilson/nodejs-depd">node-depd</a> to print deprecation notices
(<a href="https://github.com/chriso/validator.js/issues/487">#487</a>)</li>
</ul>
<h4>4.7.0</h4><ul>
<li>Print a deprecation warning if validator input is not a string
(<a href="https://github.com/chriso/validator.js/commit/1f67e1e15198c0ae735151290dc8dc2bf14da254">1f67e1e</a>).
Note that this will be an error in v5.</li>
<li>Added a German locale to <code>isMobilePhone()</code>, <code>isAlpha()</code> and <code>isAlphanumeric()</code>
(<a href="https://github.com/chriso/validator.js/pull/477">#477</a>)</li>
<li>Added a Finnish locale to <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/455">#455</a>)</li>
</ul>
<h4>4.6.1</h4><ul>
<li>Fix coercion of objects: <code>Object.toString()</code> is <code>[object Object]</code> not <code>&quot;&quot;</code>
(<a href="https://github.com/chriso/validator.js/commit/a57f3c843c715fba2664ee22ec80e9e28e88e0a6">a57f3c8</a>)</li>
</ul>
<h4>4.6.0</h4><ul>
<li>Added a Spanish locale to <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/481">#481</a>)</li>
<li>Fix string coercion of objects created with <code>Object.create(null)</code>
(<a href="https://github.com/chriso/validator.js/issues/484">#484</a>)</li>
</ul>
<h4>4.5.2</h4><ul>
<li>Fix a timezone issue with short-form ISO 8601 dates, e.g.
<code>validator.isDate(&#39;2011-12-21&#39;)</code>
(<a href="https://github.com/chriso/validator.js/issues/480">#480</a>)</li>
</ul>
<h4>4.5.1</h4><ul>
<li>Make <code>isLength()</code> / <code>isByteLength()</code> accept <code>{min, max}</code> as options object.
(<a href="https://github.com/chriso/validator.js/issues/474">#474</a>)</li>
</ul>
<h4>4.5.0</h4><ul>
<li>Add validation for Indian mobile phone numbers
(<a href="https://github.com/chriso/validator.js/pull/471">#471</a>)</li>
<li>Tweak Greek and Chinese mobile phone validation
(<a href="https://github.com/chriso/validator.js/pull/467">#467</a>,
 <a href="https://github.com/chriso/validator.js/pull/468">#468</a>)</li>
<li>Fixed a bug in <code>isDate()</code> when validating ISO 8601 dates without a timezone
(<a href="https://github.com/chriso/validator.js/issues/472">#472</a>)</li>
</ul>
<h4>4.4.1</h4><ul>
<li>Allow triple hyphens in IDNA hostnames
(<a href="https://github.com/chriso/validator.js/issues/466">#466</a>)</li>
</ul>
<h4>4.4.0</h4><ul>
<li>Added <code>isMACAddress()</code> validator
(<a href="https://github.com/chriso/validator.js/pull/458">#458</a>)</li>
<li>Added <code>isWhitelisted()</code> validator
(<a href="https://github.com/chriso/validator.js/pull/462">#462</a>)</li>
<li>Added a New Zealand locale to <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/452">#452</a>)</li>
<li>Added options to control GMail address normalization
(<a href="https://github.com/chriso/validator.js/pull/460">#460</a>)</li>
</ul>
<h4>4.3.0</h4><ul>
<li>Support Ember CLI module definitions
(<a href="https://github.com/chriso/validator.js/pull/448">#448</a>)</li>
<li>Added a Vietnam locale to <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/451">#451</a>)</li>
</ul>
<h4>4.2.1</h4><ul>
<li>Fix <code>isDate()</code> handling of RFC2822 timezones
(<a href="https://github.com/chriso/validator.js/pull/447">#447</a>)</li>
</ul>
<h4>4.2.0</h4><ul>
<li>Fix <code>isDate()</code> handling of ISO8601 timezones
(<a href="https://github.com/chriso/validator.js/pull/444">#444</a>)</li>
<li>Fix the incorrect <code>isFloat(&#39;.&#39;) === true</code>
(<a href="https://github.com/chriso/validator.js/pull/443">#443</a>)</li>
<li>Added a Norwegian locale to <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/439">#439</a>)</li>
</ul>
<h4>4.1.0</h4><ul>
<li>General <code>isDate()</code> improvements
(<a href="https://github.com/chriso/validator.js/pull/431">#431</a>)</li>
<li>Tests now require node 4.0+
(<a href="https://github.com/chriso/validator.js/pull/438">#438</a>)</li>
</ul>
<h4>4.0.6</h4><ul>
<li>Added a Taiwan locale to <code>isMobilePhone()</code>
(<a href="https://github.com/chriso/validator.js/pull/432">#432</a>)</li>
<li>Fixed a bug in <code>isBefore()</code> where it would return <code>null</code>
(<a href="https://github.com/chriso/validator.js/pull/436">#436</a>)</li>
</ul>
<h4>4.0.5</h4><ul>
<li>Fixed a denial of service vulnerability in the <code>isEmail()</code> regex
(<a href="https://github.com/chriso/validator.js/issues/152#issuecomment-131874928">#152</a>)</li>
</ul>
<h4>4.0.4</h4><ul>
<li>Reverted the leap year validation in <code>isDate()</code> as it introduced some regressions
(<a href="https://github.com/chriso/validator.js/issues/422">#422</a>, <a href="https://github.com/chriso/validator.js/issues/423">#423</a>)</li>
</ul>
<h4>4.0.3</h4><ul>
<li>Added leap year validation to <code>isDate()</code>
(<a href="https://github.com/chriso/validator.js/pull/418">#418</a>)</li>
</ul>
<h4>4.0.2</h4><ul>
<li>Fixed <code>isDecimal()</code> with an empty string
(<a href="https://github.com/chriso/validator.js/issues/419">#419</a>)</li>
</ul>
<h4>4.0.1</h4><ul>
<li>Fixed <code>isByteLength()</code> with certain strings
(<a href="https://github.com/chriso/validator.js/commit/09f0c6d2321f0c78af6a7de42e91b63955e4c01e">09f0c6d</a>)</li>
<li>Put length restrictions on email parts
(<a href="https://github.com/chriso/validator.js/issues/258#issuecomment-127173612">#258</a>)</li>
</ul>
<h4>4.0.0</h4><ul>
<li>Simplified the <code>isEmail()</code> regex and fixed some edge cases
(<a href="https://github.com/chriso/validator.js/issues/258#issuecomment-127173612">#258</a>)</li>
<li>Added ISO 8601 date validation via <code>isISO8601()</code>
(<a href="https://github.com/chriso/validator.js/issues/373">#373</a>)</li>
</ul>
    

    <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5><a href="/" class="brand-logo"><span class="full">GetQuorum</span>
</a></h5>
        <p class="grey-text text-lighten-4 headline">Significantly increase owner representation at your condo meetings with our Electronic Proxy Voting platform.</p>
        <div class="grey-text text-lighten-4 footer__email">
          <span><i class="fa fa-envelope"></i></span>
          <a class="grey-text text-lighten-4" href="mailto:contact@getquorum.com">
            contact@getquorum.com
          </a>
        </div>
        <div class="grey-text text-lighten-4 footer__phone">
          <!-- <span><i class="fa fa-phone"></i></span> -->
        </div>
        <div class="grey-text text-lighten-4 footer__twitter">
          <span><i class="fa fa-twitter"></i></span>
          <a id="footer-twitter" class="grey-text text-lighten-4" target="_blank" href="https://twitter.com/getquorumapp">
            @getquorumapp
          </a>
        </div>
        <div class="grey-text text-lighten-4 footer__linkedin">
          <span><i class="fa fa-linkedin"></i></span>
          <a id="footer-linkedin" class="grey-text text-lighten-4" target="_blank" href="https://www.linkedin.com/company/10611652">
            &nbsp;GetQuorum
          </a>
        </div>
        <br><br>
      </div>
      <div class="col l4 s12 white-text footer-links">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a href="/#estimate">Get a Quote</a></li>
<li><a href="/demos">Try a Demo</a></li>
<li><a href="/stories">Stories</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="/contact">Contact</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s6 left-align pkl">
          <span class="grey-text text-lighten-3">&copy; 2016 <a href="https://powderkeglabs.com">PowderKeg Labs, Inc.</a></span>
        </div>
        <div class="col s6 right-align pkl">
          <span class="grey-text text-lighten-3"><a href="/terms-of-use.html">Terms</a></span>
          &nbsp;|&nbsp;
          <span class="grey-text text-lighten-3"><a href="/privacy.html">Privacy</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>


    <!-- Script Imports -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <!-- Google Code for Remarketing Tag -->
<!--
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->

  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 922011199;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
  <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/922011199/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>


  </body>
</html>
