<header class="blog-header">
  <div class="fill-overlay flex">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align flex">
          <h3>Blog</h3>
        </div>
      </div>
    </div>
  </div>
</header>

<main>

  <section class="blog-list">
    <div class="container">
      <div class="row flex">

        <% for (var slug in public.blog._data) { %>
          <%- partial('_item', {
            title: public.blog._data[slug].title,
            date: public.blog._data[slug].date,
            snippet: public.blog._data[slug].snippet,
            tags: public.blog._data[slug].tags,
            slug: slug
          }) %>
        <% }; %>

      </div>
    </div>
  </section>


</main>
