.benefits {
  padding: 60px 0px 60px 0px;
}

.benefit__heading {
  display: block;
  font-size: 1.3rem;
  line-height: normal;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.benefit__description {
  font-size: 1.10rem;
  margin-bottom: 20px;
}

.benefit__icon {
  color: $primary-color-dark;
}
