section.article {
  background-color: #fff !important;
}

/// *********************************************************************
/// BLOG LIST VIEW
/// *********************************************************************
.blog-header {
  background-image: url('/assets/images/toronto1.jpg');
  background-position: center;
  background-size: cover;
}

.blog-header .snippet {
  font-size: 1.5rem;
}

/// *********************************************************************
/// ARTICLE VIEW
/// *********************************************************************
header.article {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.article {
  img {
    @extend .responsive-img;
  }
}

/// *******************************************************************
/// Artcile
/// *******************************************************************

article {
  p {
    margin-top: 20px;
    color: $text-primary-color;
    opacity: 1;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 30px;
    font-weight: 500;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
    color: lighten($text-primary-color, 30%);
    // font-weight: 400;
  }
  //
  li {
    margin-top: 15px;
  }
  //
  // Image and caption
  img + em {
    font-size: 13px;
    color: color('grey', 'darken-1');
  }

  .flex {
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    flex-flow: column nowrap;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    opacity: .75;
  }

}
