/// *********************************************************************
/// BLOG LIST VIEW
/// *********************************************************************
.blog__header {
  background-position: center;
  background-size: cover;
  min-height: 0px;
}

.blog__header--fill-overlay {
  min-height: 300px;
}

.blog__header--row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.blog__header--quote {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog__header--quote-text {
  font-size: 1.25rem;
  display: block;
  font-style: italic;

  @media(min-width: 650px){
    font-size: 1.5rem;
  }
}

.blog__header--quote-author {
  padding-top: 10px;
  display: block;
  font-size: 1.15rem;
}

/// *********************************************************************
/// ARTICLE VIEW
/// *********************************************************************
.article {
  background-color: #fff !important;
  img {
    @extend .responsive-img;
  }
}

.article__info-row {
  opacity: 0.87;
}

.article__info-row .flex {
  justify-content: flex-start;
  flex-direction: row;
}

/// *******************************************************************
/// Artcile
/// *******************************************************************

article {
  p {
    margin-top: 20px;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 30px;
  }

  li {
    margin-top: 15px;
  }

  // Image and caption
  .image-caption {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 13px;
    color: color('grey', 'darken-1');
    text-align: center;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    opacity: .75;
  }


}
