$primary-color: color("light-blue", "base");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$accent-color: color('red', 'accent-2');
// $accent-color-secondary: color('blue-grey','base');
$accent-color-secondary: $primary-color-dark;

$secondary-color: color("red", "base") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
$background-shade-color: color("grey", "lighten-4") !default;

$button-color-raised: #fff;
$button-color: $accent-color;

$text-primary-color: #212121;
$text-secondary-color: #fff;
$text-muted: #727272;
$fill-color: #494E54;

.dark-color {
  background-color: color('light-blue', 'darken-2');
}

.transparent-color {
  background: rgba(0,0,0,0);
}

.fill-color {
  background-color: $fill-color;
}

.accent-color {
  background-color: $accent-color;
}

.accent-secondary-color {
  background-color: $accent-color-secondary;
}

.btn.accent-secondary-color:hover,
.btn-large.accent-secondary-color:hover {
  background-color: lighten($accent-color-secondary, 5%);
}

.text-muted {
  color: $text-muted;
}

a {
  color: $accent-color;
}

.fill-overlay{
  height: 100%;
  width: 100%;
  background: rgba(2, 136, 209, 0.75)
}

.header-fill-overlay{
  @extend .fill-overlay;
  min-height: 450px;

}
