.contact__header {
  background-image: url('https://d1v53h6w11vaa4.cloudfront.net/toronto1.jpg');
  background-position: center;
  background-size: cover;
  min-height: 0px;
}

.contact__header .header-fill-overlay{
  min-height: 0px;
}

.contact__header-row {
  padding-top: 70px;
  padding-bottom: 70px;
}

.contact__form--buttons {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.contact__form--spinner {
  padding: 10px;
}
