// On larger screen sizes, switch to 2 column view
@media(min-width: 650px) {
  .faq .flex.row {
    flex-flow: row wrap;
    align-content: center;
    align-self: center;
    align-items: flex-start;
    justify-content: space-between;
  }

  .faq .flex .flex-item {
    flex: 0 1 50%;
  }

  .faq-item {
    margin-top: 25px;
  }

  .faq-item:nth-child(odd) {
    padding-right: 15px;
  }

  .faq-item:nth-child(even) {
    padding-left: 15px;
  }
}

.faq .question {
  font-size: 1.25rem;
  font-weight: 600;
  color: lighten($text-primary-color, 20%);
}

.faq .answer {
  margin-top: 0.5rem;
}
