html {
  font-size: 14px;
}

.uvp {
  font-size: 3.25rem;
}

.lead-in {
  font-weight: 300;
  font-size: 1.25rem;
}


p {
  font-size: 1.05rem;
  @media (min-width: 500px) {
    font-size: 1.10rem;
  }
}

h2 {
  font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

h4 {
  color: lighten($text-primary-color, 30%);
}
