html {
  font-size: 15px;
  @media #{$medium-and-up} {
    font-size: 14px;
  }
}

.uvp {
  font-size: 2.25rem;
}

.lead-in {
  font-weight: 300;
  font-size: 1.25rem;
}


p {
  font-size: 1.20rem;
  opacity: 0.92;
  @media #{$medium-and-up} {
    font-size: 1.15rem;
  }
}

h2 {
  font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

h4 {
  color: lighten($text-primary-color, 30%);
}

.contact-email {
  font-size: 1.5rem;
}
