footer.page-footer {
  // padding-top: 20px;
  margin-top: 0px;
}

footer.page-footer {
  // @extend .primary-colo;
  background-color: $primary-color;
}

footer.page-footer .footer-copyright {
  // background-color: darken($dark-color, 5%);
  // background-color: color('grey', 'darken-3');
  @extend .dark-color;
}

footer .brand-logo {
  color: $text-secondary-color;
  font-size: 20px;
}

footer .brand-logo .fa-inverse {
  color: $primary-color;
}

footer .headline {
  // padding-top: 20px;
  // padding-bottom: 20px;
}

.pkl a {
  color: color('grey', 'lighten-3');
  // text-decoration: underline;
}
