header {
  min-height: 450px;
  text-align: center;
  background-image: url('/assets/images/toronto1.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px color('grey', 'darken-2');
}

section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

main > section:nth-child(odd) {
  background-color: color('grey', 'lighten-3');
}

.flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex-item {
  flex: 0 1 auto;
}

// Flex item type where it's all a column
// - top align each benefit in the row
.flex.badge-flex {
  flex-flow: column nowrap;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
}

@media(min-width: 650px) {

  .flex {
    flex-flow: row nowrap;
  }

}

.btn:hover, btn-large:hover {
  color: $button-color-raised;
  background-color: lighten($button-color, 5%);
}

.flex-text {
  order: 1;
}

.flex-img {
  order: 2;
}

@media (min-width: 650px){
  .flex-row-right {
    flex: 0 1 50%;
    order: 2;
  }
  .flex-row-left {
    flex: 0 1 50%;
    order: 1
  }

  .flex-text.flex-row-left {
    padding-right: 5rem;
  }

  .flex-img.flex-row-right {
    text-align: right;
  }

  .flex-img.flex-row-right {
    text-align: left;
  }

  .uvp-col {
    text-align: left;
  }
  .hero-col {
    text-align: right;
  }
}

.news {
  border-bottom: 1px solid color('grey', 'lighten-2');
  .row {
    padding: 0px;
    margin: 0px;
  }
}
