#contact,
#logos {
  background-color: #fff;
  padding-top: 40px;
}

.logos-row {
  // height: 40px;
  margin-bottom: 0px;
}

.logo-image {
  height: 60px;
}

.logos-text {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.logos-text--text {
  opacity: .6;
  font-size: 18px;
  font-weight: 600;
}
