nav {
  background-color: $primary-color-dark;
  padding-left: 10px;
  padding-right: 10px;
}

nav a.brand-logo {
  font-weight: 300;
}

nav a.brand-logo span.full {
  padding-left: 5px;
}

.side-nav__brand-logo {
  height: 175px;
  background-color: $primary-color-dark;
}

.side-nav__brand-logo a,
.side-nav__brand-logo a:hover {
  color: $text-secondary-color;
  background-color: $primary-color-dark;
}
