.screens {

  .row.flex {
    justify-content: space-between;
  }

  .screens-img {
    padding: 5px;
  }

  .gif-img {
    border: 10px solid color('grey', 'lighten-2');
    max-width: 350px;
  }

  .fa.notice-icon {
    padding: 10px;
    opacity: 0.87;
  }

}
