.screens {

  .screens-img {
    padding: 5px;
    max-height: 400px;
  }

  .gif-img {
    border: 10px solid color('grey', 'lighten-2');
    max-height: 400px;
  }

  .fa.notice-icon {
    padding: 10px;
    opacity: 0.87;
  }

}
