.testimonial {
  padding: 10px;
}
.person-img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.person-name {
  margin-top: 10px;
  font-size: 1.05rem;
  font-weight:600;
}

.person-quote {
  font-size: 1.55rem;
  font-style: italic;
  font-weight: 400;
}
