.testimonials {
  background-image: url('/assets/images/testimonials.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px color('grey', 'darken-2');
  padding-top: 0px;
  padding-bottom: 0px;
}

.testimonial {
  padding: 10px;
}
.person-img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.person-name {
  margin-top: 10px;
  font-size: 1.05rem;
  font-weight:600;
}

.person-quote {
  font-size: 1.55rem;
  font-style: italic;
  font-weight: 400;
  color: #fff;
}
